.accomodation-infos {
  max-width: 1240px;
  margin: 30px auto;

  &-up {
    display: flex;
    justify-content: space-between;

    &__location {
      margin: 10px 0 20px;
    }
    &__tags-container {
      display: flex;
    }
    &__tag {
      height: 25px;
      min-width: 115px;
      padding: 5px 15px;
      margin-right: 15px;
      background: $main-color;
      color: whitesmoke;
      font-weight: 400;
      font-size: 0.8em;
      text-align: center;
      border-radius: 10px;
    }
    &__info-right {
      width: 160px;
    }
    &__user-infos {
      display: flex;
      justify-content: flex-end;
    }
    &__user-name {
      text-align: right;
      align-self: center;
      margin-right: 10px;
    }
    &__user-avatar {
      width: 64px;
      height: 64px;
    }
    &__avatar {
      object-fit: cover;
      border-radius: 100%;
      width: 100%;
      height: 100%;
      filter: $shadow;
    }

    .user-ratings {
      margin-top: 10px;
      .fa-star {
        margin-left: 10px;
      }
      &__greyStars {
        color: $light-grey;
      }
    }
  }

  .collapse-item-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
