.footer {
  background-color: black;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: $footer-height;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    &-text {
      color: whitesmoke;
      font-size: 1.5em;
    }
  }
}
