.error-container {
  height: calc(100vh - $header-height-desktop - $footer-height);

  &__content {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: $main-color;
  }
  &__title {
    font-size: 15em;
  }
  &__text {
    font-size: 2em;
  }
}
