// Déclaration variables globales
$font-1: "Montserrat", sans-serif;

$main-color: #ff6060;
$background-gallery: rgba(201, 201, 201, 0.3);

$header-height: 163px;
$footer-height: 210px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-1;
  font-weight: 500;
  position: relative;
}

.wrapper {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1440px;
}

li {
  list-style-type: none;
}

a {
  color: $main-color;
}
