// Déclaration variables globales
$font-1: "Montserrat", sans-serif;

$main-color: #ff6060;
$light-grey: rgba(201, 201, 201, 0.3);
$shadow: drop-shadow(0 0 5px #555);

$header-height-desktop: 163px;
$header-height-mobile: 100px;
$banner-height-desktop: 223px;
$banner-height-mobile: 111px;
$footer-height: 210px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-1;
  color: $main-color;
  font-weight: 500;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

.main {
  margin: 0 20px;
  min-height: 100%;
  padding-bottom: $footer-height;
}

li {
  list-style-type: none;
}

a {
  color: $main-color;
}
