@media only screen and (max-width: 767px) {
  .error-container {
    &__content {
      justify-content: space-around;
    }
    &__title {
      font-size: 5em;
    }
    &__text {
      font-size: 1em;
    }
    &__link {
      font-size: 0.8em;
    }
  }
}
